[submodule "frontend"]
	path = frontend
	url = https://github.com/zephyrthenoble/SoundShare-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/zephyrthenoble/Soundshare-Backend.git
